
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: italic 
}

body {
    background: lightblue;

    
}

/* -----Nav-Bar */ 
.logo img {
    width: 100%;
}

header {
    width: 80%;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.logo {
    width: 75px;
    margin-top: 0px;
}

.nav_header h1 {
    text-transform: uppercase;
    font-size: 1em;
    
}

nav .logo {
    display: none;
}

nav ul {
    display: flex;
}


nav ul li a {
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.3s;
    border-radius: 30px;
    text-decoration: none;
}

nav ul li a:hover {
    background: lightblue;
}

nav ul li a.active {
    background: rgb(0 50 85);
    color: white;
}

.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.3s;
}

.hamburger:hover {
    background: lightblue;
}

.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: rgb(0 50 85);
}

@media only screen and (max-width: 1100px) {
    header {
        width: 90%;
        padding: 0 20px;
    }

    nav {
        position: absolute;
        left: -300px;
        top: 0; 
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.3s;
        box-shadow: 2px 0 20px 0 rgb(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }

    .hamburger {
        display: block;
    }
}

@media only screen and (max-width: 623px) {
    .nav_header h1 {
        font-size: larger;
    }
}
/* Nav-Bar----- */



/* -----Home-Page */

.Home_body {
    background-image: url(/images/home.jpg);
 
}






.fp_img {
    width: 340px;
    height: auto;
    position: relative;
    margin: auto;
    margin-top: 45px;

}

.fp_img img {
    border-radius: 20px;
}

.fp_text1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 20px;
}

.fp_text2 {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 20px;
}
/* Home-Page----- */



/* -----Explore */
.h_x {
    background: rgb(0 50 85);
    display: inline-block;
    text-align: justify;
    border-radius: 0px 20px 20px 0px;
    margin: 10px;
    margin-left: 0;
    padding: 8px 20px;
    border: 2px solid black;
    border-left: 0px solid black; 
} 

.h_x p {
    color: white;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 550;
    font-style: bold italic;
    letter-spacing: 1px;
}

.art_txt p {
    margin: 10px;
}

.art_bk {
    padding: 15px;
    margin-bottom: 20px;
    background-image: url(/images/low-poly-grid-haikei\ \(3\).png);
    border-radius: 50px 0px 50px 0px;
}

.art_img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 215px;
    border-radius: 5px;
    border: 2px solid black;
}

@media only screen and (min-width: 600px) {
    .art_img {
        width: 545px;
        height: 210px; 
        margin: auto; 
        
    }

    .art_txt {
        font-size: x-large;
    }

    .art_bk {
        
        padding: 30px;
    }
} 
/* Explore----- */

/* -----Visit */

.visit_h {
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
}

.art_txt_v p {
    margin: 10px;
}

.art_txt_v {
    padding: 10px;
}

@media only screen and (min-width: 600px) {
    .art_img {
        width: 545px;
        height: 210px; 
        margin: auto; 
        
    }

    .art_txt_v p {
        font-size: 20px;
    }

    .art_bk {
        
        padding: 30px;
    }
} 
/* Visit----- */

















/* -----Footer----- */
.showcase {
    padding: 5px;
    background-color: rgb(14 59 90);
}

.showcase_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px;
}

.showcase_ithem img {
    border-radius: 8px;
    width: 175px;
    height: 103px;
}

Footer {
    color: white;
    padding: 25px;
    background-image: url(/images/low-poly-grid-haikei\ \(3\).png);
    border-radius: 20px 20px 0px 0px;
}

footer p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.foot_h {
    text-transform: capitalize;
}

.foot_h, .h6 {
    font-size: 1.5rem;
    font-weight: 550;
    font-style: italic;
}

.h6 {
    font-size: 1em;
    text-align: center;
}

@media only screen and (min-width: 623px) {
    
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-top: 50px;
        
    }

    .h6 {
        display: flex;
        justify-content: center;
    }



    

    
}


